input[type="text"]  {
    width: 300px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
}
.mainWrapper{
    width: 600px;
    height: 800px;
    background-color: teal;
    display: flex;
    flex-direction: column;
}
.messageList{
    width: 100%;
    height: 90%;
    background-color: grey;
}
.inputWrapper{
    flex: 1;
    display: flex;
    width: 100%;
    align-items: center;
    background-color: gold;
    justify-content: space-between;
}
